/* --------------------------------------------------------------------------------
app   ...   Groupomania intra social network
mod   ...   SCSS VARIABLES
-------------------------------------------------------------------------------- */

$color-gpmania-primary: #FD2D01;                // rouge logo
$color-gpmania-secondary: #FFD7D7;              // rose logo
$color-gpmania-tertiary: #D1515A;               // rose plaquette spécifications

$color-gpmania-back-primary: #FFF;
$color-gpmania-back-secondary: #F5F5F5;
$color-gpmania-back-tertiary: #AFAFAF;         // gris plaquette spécifications

$color-gpmania-text-primary: #444;
$color-gpmania-text-secondary: #091F43;         // bleu plaquette spécifications
